Projektit/AutoWCFClient/AutoWCFClient/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53570/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AutoWCF" />
  <xs:element name="InsertAutoDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="autoInfo" nillable="true" type="q1:AutoDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAutoDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAutoDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectDatabaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseAutoMax">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseAutoMaxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="ChooseAutoMaxResult" nillable="true" type="q2:AutoDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseAutoMin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseAutoMinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="ChooseAutoMinResult" nillable="true" type="q3:AutoDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNextAutoRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectNextAutoRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="SelectNextAutoRowResult" nillable="true" type="q4:AutoDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPreviousAutoRow">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectPreviousAutoRowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="SelectPreviousAutoRowResult" nillable="true" type="q5:AutoDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutoMakersFromDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutoMakersFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="GetAllAutoMakersFromDatabaseResult" nillable="true" type="q6:ArrayOfMerkkiDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoModelsByMakerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoModelsByMakerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="GetAutoModelsByMakerIdResult" nillable="true" type="q7:ArrayOfMalliDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFuelsFromDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFuelsFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="GetAllFuelsFromDatabaseResult" nillable="true" type="q8:ArrayOfPolttoaineDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorsFromDatabase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorsFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AutoWCF" minOccurs="0" name="GetColorsFromDatabaseResult" nillable="true" type="q9:ArrayOfVariDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRowFromDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectedID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRowFromDatabaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRowFromDatabaseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>